@import "~@fortawesome/fontawesome-free/css/all.css";

:root {
  --web-island-health-blue: #006eb4;
  --web-dark-blue-accent: #00305a;
  --web-blue-accent: #00a0fc;
  --web-vibrant-orange: #f35607;
  --web-dark-grey: #333;
  --web-medium-dark-grey: #555;
  --web-medium-grey: #999;
  --web-light-grey: #eee;
  --web-calming-grey: #f9f9fd;
  --web-white: #fff;
}

.edit-field {
    align-items: center;
    display: flex;
    font-family: Lato, "Scala Sans", sans-serif;
    position: relative;
}

.edit-field .field {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.edit-field .field .icon {
  display: none;
}

.edit-field .field .btn-edit {
  visibility: hidden;
}

.edit-field .field:hover .btn-edit {
  visibility: visible;
}

.edit-field .btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.edit-field .btn:hover {
  color: var(--web-vibrant-orange);
}

.edit-field .fa-exclamation-circle {
  color: #f00;
}

.edit-field .fa-check-circle {
  color: #0a0;
}

.edit-field form {
  background: var(--white);
  border: 1px solid #aaa;
  border-radius: .25rem;
  box-shadow: 1px 1px 5px var(--web-medium-grey);
  display: none;
  left: -1.12rem;
  padding: .5rem .5rem .5rem .25rem;
  position: absolute;
  top: -.55rem;
  z-index: 1;
}
  
.edit-field form .content {
  align-items: center;
  display: flex;
}

.edit-field form select {
  margin: 0 .5rem;
  font-size: 14.4px;   

  .edit-field form select option {
      font-size: 14.4px;   
  }
}

.edit-field form .fa-check:hover {
  color: #0a0;
}

.edit-field form .fa-times:hover {
  color: #f00;
}

.edit-field form .fa-circle-notch {
  color: var(--web-island-health-blue);
  display: none;
}